html, body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  .header {
    background:#ededed;
    padding:10px;
  }
  .content {
    padding-bottom:100px; /* Height of the footer element */
  }
  .footer {
    //background:#ffab62;
    width:100%;
    height:100px;
    bottom:0;
    left:0;
  }
}
