<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description"
          content="{% block description %}{% endblock %}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/img/favicon.ico') }}"/>
    {% javascripts
    '../components/jquery/jquery.min.js'
    'bundles/app/js/jquery.magnific-popup.min.js'
    '../vendor/moment/moment/min/moment.min.js'
    '../components/bootstrap/js/bootstrap.min.js'
    '../components/typeaheadjs/typeahead.bundle.min.js'
    '../vendor/eternicode/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
    '../vendor/eonasdan/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
    'bundles/fosjsrouting/js/router.js'
    'bundles/app/js/bootbox.min.js'
    'bundles/app/js/fullcalendar/fullcalendar.min.js'
    'bundles/app/js/fullcalendar/fullcalendar.custom.js'
    'bundles/app/js/bootstrap-clockpicker.min.js'
    'bundles/app/js/autobahn.min.js'
    '@reveal'
    '@app'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/app/js/fullcalendar/lang/'~app.request.locale~'.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
    {% stylesheets
    'bundles/app/css/magnific-popup.css'
    '../vendor/twitter/bootstrap/dist/css/bootstrap.min.css'
    '../vendor/eternicode/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css'
    '../vendor/eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
    'bundles/app/css/fullcalendar.min.css'
    'bundles/app/css/bootstrap-clockpicker.min.css'
    'bundles/app/css/main.css'
    '@AppBundle/Resources/less/app.less'
    filter="lessphp" combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
    <div class="app-head">
        <div class="app-head__line">
        </div>

            {% if app.user %}
                <div class="pull-left bb">
                    <p>{{ 'Logged in as'|trans }}: <strong>{{ app.user.username }}</strong></p>
                    <p>{{ 'Amount'|trans }}:
                        <strong id="currentAmount">{{ app.user.amount }}</strong>
                        <i class="fa fa-eur fa-6"></i>
                        {% if app.user.amount <= 0 %}
                            <strong class="text-danger bg-danger">{{ 'messages.low balance'|trans }}</strong>
                        {% endif %}
                    </p>
                        {% if is_granted("ROLE_ADMIN") %}
                            <p><a href="{{ path('admin') }}"><i class="fa fa-cog"></i> {{ 'Admin panel'|trans }}</a></p>
                        {% endif %}
                </div>
            {% endif %}



        {% spaceless %}
            <div class="app-head__logowrapper">
                <div class="app-head__logo">
                    <a title="{{ site_name|trans }}" href="{{ path('home') }}">
                        <i class="app-icon-logo"></i>
                    </a>
                </div>
                <input type="checkbox" name="toggle" id="toggle"/>
                <label for="toggle"></label>
                <div class="app-head__container"></div>
                <div class="app-head__menu">
                        <a class="app-head__login" href="/dist/index.html">{{ 'Continue'|trans }}</a>
                </div>
            </div>
        {% endspaceless %}

    </div>
    {% if app.user %}
        {{ knp_menu_render('AppBundle:Builder:userMenu', {'currentClass':'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
    {% endif %}
    <div class="app-body">
        <div class="bb" id="messageBox">
            {% for key, messages in app.session.flashbag.all %}
                <script type="text/javascript">
                    {% for message in messages %}
                    bootstrap_alert.flash('{{ message }}','{{ key }}');
                    {% endfor %}
                </script>
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </div>
    <div class="app-footer">
        {% if (app.request.attributes.get('_route')!='home') %}
            <p><span>&copy;</span><span><i class="app-icon-logo"></i></span><span>.med</span></p>
        {% endif %}
        {% if (app.request.attributes.get('_route') != 'imprint')  %}
            <p><a href="{{ path('imprint') }}">Imprint</a></p>
        {% endif %}

        {% block javascripts_after %}
             <script type="text/javascript">
                 window.sr = new scrollReveal();
            </script>
        {% endblock %}
    </div>
    {% if app.environment == 'prod' %}
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ ga_tracking }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

</body>
</html>
