<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <title>{% block title %}{{ 'Doctor panel'|trans }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description"
          content="{% block description %}{% endblock %}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/img/favicon.ico') }}"/>
    {% javascripts
    '../components/jquery/jquery.min.js'
    'bundles/app/js/jquery.magnific-popup.min.js'
    '../vendor/moment/moment/min/moment.min.js'
    '../components/bootstrap/js/bootstrap.min.js'
    '../components/typeaheadjs/typeahead.bundle.min.js'
    '../vendor/eternicode/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
    '../vendor/eonasdan/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
    'bundles/fosjsrouting/js/router.js'
    'bundles/app/js/bootbox.min.js'
    'bundles/app/js/fullcalendar/fullcalendar.min.js'
    'bundles/app/js/fullcalendar/fullcalendar.custom.js'
    'bundles/app/js/bootstrap-clockpicker.min.js'
    'bundles/app/js/autobahn.min.js'
    '@reveal'
    '@app'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/app/js/fullcalendar/lang/'~app.request.locale~'.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
    {% stylesheets
    'bundles/app/css/magnific-popup.css'
    '../vendor/twitter/bootstrap/dist/css/bootstrap.min.css'
    '../vendor/eternicode/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css'
    '../vendor/eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
    'bundles/app/css/fullcalendar.min.css'
    'bundles/app/css/bootstrap-clockpicker.min.css'
    'bundles/app/css/main.css'
    '@AppBundle/Resources/less/app.less'
    filter="lessphp" combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
<div class="app-head">
    <div class="app-head__line">
    </div>


    <div class="pull-left bb">
        <p>{{ 'Logged in as'|trans }}: <strong>{{ app.user.username }}</strong></p>
        <p>{{ 'Amount'|trans }}:
            <strong id="currentAmount">{{ app.user.amount }}</strong>
            <i class="fa fa-eur fa-6"></i>
            {% if app.user.amount <= 0 %}
                <strong class="text-danger bg-danger">{{ 'messages.low balance'|trans }}</strong>
            {% endif %}
        </p>
    </div>
    {% spaceless %}
        <div class="app-head__logowrapper">
            <input type="checkbox" name="toggle" id="toggle"/>
            <label for="toggle"></label>
            <div class="app-head__container"></div>
            <div class="app-head__menu">
                {% if (app.request.attributes.get('_route') != 'fos_user_security_login' and app.user==null) %}
                    <a class="app-head__login" href="{{ path('fos_user_security_login') }}">{{ 'Continue'|trans }}</a>
                {% endif %}
                {% if app.user %}
                    <a class="app-head__logout" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}

    {{ knp_menu_render('AppBundle:Builder:doctorMenu',  {'currentClass':'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
</div>
<div class="app-body">
    <div class="bb" id="messageBox">
        {% for key, messages in app.session.flashbag.all %}
            <script type="text/javascript">
                {% for message in messages %}
                bootstrap_alert.flash('{{ message }}','{{ key }}');
                {% endfor %}
            </script>
        {% endfor %}
    </div>
    {% block body %}{% endblock %}
</div>
<div class="app-footer">
    <p><span>&copy;</span><span><i class="app-icon-logo"></i></span><span>.med</span></p>
    {% block javascripts_after %}
        <script type="text/javascript">
            window.sr = new scrollReveal();
        </script>
    {% endblock %}
</div>
</body>
</html>
