a:hover {
    text-decoration: none;
}

[data-sr] {
    visibility: hidden;
}

hr {
    margin: auto;
}

.bb {
    padding: 15px;
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container {
    padding: 10px 0;
}

input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

.img-responsive {
    margin: 0 auto;
}


th a.asc:after {
    font-family: FontAwesome;
    content: " \f062";
}

th a.desc:after {
    font-family: FontAwesome;
    content: " \f063";
}

#user_roles input {
    clear: right;
    margin: 5px 10px 5px 20px;
    display: inline-block;
}

.table-hover tbody tr td {
    cursor: pointer;
}

.table-app>tbody>tr>td, .table-app>tbody>tr>th, .table-app>tfoot>tr>td, .table-app>tfoot>tr>th, .table-app>thead>tr>td, .table-app>thead>tr>th {
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.7em;
    line-height: 1.4em;
}
.flag-icon:before {
    content: "\00a0";
}
.flag-icon.flag-icon-squared {
    width: 1em;
}
.flag-icon-de {
    background-image: url(/bundles/app/img/de.svg);
}
.flag-icon-gb {
    background-image: url(/bundles/app/img/gb.svg);
}

#messageBox {
    overflow-y: auto;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 4000;
    padding: 15px;
    display: block;
    margin: 0 55px;
}

#messageBox .alert {
    box-shadow: 1px 5px 4px 3px rgba(22,22,22,0.5);
}

input[name="startTime"] {
    font-size: 5em;
    line-height: 1em;
    max-width: 2.87em;
    padding: 5px;
    text-align: center;
    font-family: "unit-light",san-serif;
}

