{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}Imprint{% endblock %}
{% block description %}Disclaimer – rechtliche Hinweise{% endblock %}
{% block body %}
    <div class="bb">
        <h2>Impressum</h2>

        <p>2P GbR<br/>
            Babelsberger Str. 40/41<br/>Haus D<br/>10715 Berlin</p>

        <p>Telefon: +49 176 321 994 61<br/>
            E-Mail: <a href="mailto:frank.scrock@2p-med.de">frank.scrock@2p-med.de</a><br/>
        </p>

        <p><strong>Vertreten durch:</strong><br/>Anna Anderssohn<br/>
            Frank Scrock<br/>
            Claus Ernst</p><br/><br/>

        <h2>Disclaimer – rechtliche Hinweise</h2>
        § 1 Haftungsbeschränkung<br/>
        Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der
        Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit
        und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der
        Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete
        Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung
        des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt
        keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande.
        <br/><br/>
        § 2 Externe Links<br/>
        Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links").
        Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der
        Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden
        Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem
        Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei
        Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der
        verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich
        der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen
        macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne
        konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von
        Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
        <br/><br/>
        § 3 Urheber- und Leistungsschutzrechte<br/>
        Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen
        Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und
        Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen
        schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies
        gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung,
        Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken
        oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter
        sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder
        Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und
        strafbar. Lediglich die Herstellung von Kopien und Downloads für den
        persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.
        <br/><br/>
        Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher
        Erlaubnis zulässig.
        <br/><br/>
        § 4 Besondere Nutzungsbedingungen<br/>
        Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den
        vorgenannten Paragraphen abweichen, wird an entsprechender Stelle
        ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen
        Einzelfall die besonderen Nutzungsbedingungen.<br/>

        <p>Quelle: <a href="http://www.juraforum.de/impressum-generator/">Impressum-Generator</a> - Unser Tipp: <a
                    href="http://www.juraforum.de/rechtsanwalt/anwalt-berlin/">Anwalt in Berlin</a> suchen.</p>
        <br/><br/>

        <h2>Datenschutzerklärung:</h2>

        <p><strong>Datenschutz</strong><br/>Nachfolgend möchten wir Sie über unsere Datenschutzerklärung informieren.
            Sie finden hier Informationen über die Erhebung und Verwendung persönlicher Daten bei der Nutzung unserer
            Webseite. Wir beachten dabei das für Deutschland geltende Datenschutzrecht. Sie können diese Erklärung
            jederzeit auf unserer Webseite abrufen.
            <br/><br/>
            Wir weisen ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
            E-Mail) Sicherheitslücken aufweisen und nicht lückenlos vor dem Zugriff durch Dritte geschützt werden kann.
            <br/><br/>
            Die Verwendung der Kontaktdaten unseres Impressums zur gewerblichen Werbung ist ausdrücklich nicht
            erwünscht, es sei denn wir hatten zuvor unsere schriftliche Einwilligung erteilt oder es besteht bereits
            eine Geschäftsbeziehung. Der Anbieter und alle auf dieser Website genannten Personen widersprechen hiermit
            jeder kommerziellen Verwendung und Weitergabe ihrer Daten.
            <br/><br/>
            <strong>Personenbezogene Daten</strong>
            <br/>
            Sie können unsere Webseite ohne Angabe personenbezogener Daten besuchen. Soweit auf unseren Seiten
            personenbezogene Daten (wie Name, Anschrift oder E-Mail Adresse) erhoben werden, erfolgt dies, soweit
            möglich, auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte
            weitergegeben. Sofern zwischen Ihnen und uns ein Vertragsverhältnis begründet, inhaltlich ausgestaltet oder
            geändert werden soll oder Sie an uns eine Anfrage stellen, erheben und verwenden wir personenbezogene Daten
            von Ihnen, soweit dies zu diesen Zwecken erforderlich ist (Bestandsdaten). Wir erheben, verarbeiten und
            nutzen personenbezogene Daten soweit dies erforderlich ist, um Ihnen die Inanspruchnahme des Webangebots zu
            ermöglichen (Nutzungsdaten). Sämtliche personenbezogenen Daten werden nur solange gespeichert wie dies für
            den geannten Zweck (Bearbeitung Ihrer Anfrage oder Abwicklung eines Vertrags) erforderlich ist. Hierbei
            werden steuer- und handelsrechtliche Aufbewahrungsfristen berücksichtigt. Auf Anordnung der zuständigen
            Stellen dürfen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten) erteilen, soweit dies für Zwecke
            der Strafverfolgung, zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der
            Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am
            geistigen Eigentum erforderlich ist.</p>

        <p><strong>Datenschutzerklärung für das Facebook-Plugin („Gefällt mir“)</strong><br/>
            Diese Webseite nutzt Plugins des Anbieters Facebook.com, welche durch das Unternehmen Facebook Inc., 1601 S.
            California Avenue, Palo Alto, CA 94304 in den USA bereitgestellt werden. Nutzer unserer Webseite, auf der
            das Facebook-Plugin („Gefällt mir“-Button) installiert ist, werden hiermit darauf hingewiesen, dass durch
            das Plugin eine Verbindung zu Facebook aufgebaut wird, wodurch eine Übermittlung an Ihren Browser
            durchgeführt wird, damit das Plugin auf der Webseite erscheint.<br/>
            Des Weiteren werden durch die Nutzung Daten an die Facebook-Server weitergeleitet, welche Informationen über
            Ihre Webseitenbesuche auf unserer Homepage enthalten. Dies hat für eingeloggte Facebook-Nutzer zur Folge,
            dass die Nutzungsdaten Ihrem persönlichen Facebook-Account zugeordnet werden. <br/>
            Sobald Sie als eingeloggter Facebook-Nutzer aktiv das Facebook-Plugin nutzen (z.B. durch das Klicken auf den
            „Gefällt mir“ Knopf oder die Nutzung der Kommentarfunktion), werden diese Daten zu Ihrem Facebook-Account
            übertragen und veröffentlicht. Dies können Sie nur durch vorheriges Ausloggen aus Ihrem Facebook-Account
            umgehen. <br/>
            Weitere Information bezüglich der Datennutzung durch Facebook entnehmen Sie bitte den datenschutzrechtlichen
            Bestimmungen auf Facebook unter <a href="http://de-de.facebook.com/policy.php" rel="nofollow">http://de-de.facebook.com/policy.php</a>.
        </p>

        <p><strong>Datenschutzerklärung für den Webanalysedienst Google Analytics</strong><br/>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics
            verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre
            Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort
            gespeichert. Wir haben die IP-Anonymisierung aktiviert. Auf dieser Webseite wird Ihre IP-Adresse von Google
            daher innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens
            über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an
            einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website
            wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
            Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
            verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics
            von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie
            können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
            wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
            Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie
            erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
            Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare
            Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de"
                                                              rel="nofollow">http://tools.google.com/dlpage/gaoptout?hl=de</a>
        </p>

        <p><strong>Auskunftsrecht</strong><br/>Sie haben das jederzeitige Recht, sich unentgeltlich und unverzüglich
            über die zu Ihrer Person erhobenen Daten zu erkundigen. Sie haben das jederzeitige Recht, Ihre Zustimmung
            zur Verwendung Ihrer angegeben persönlichen Daten mit Wirkung für die Zukunft zu widerrufen. Zur
            Auskunftserteilung wenden Sie sich bitte an den Anbieter unter den Kontaktdaten im Impressum.</p>
    </div>
{% endblock %}

