{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}{{ 'Patient Messenger'|trans }}{% endblock %}
{% block description %}{{ 'The messaging system for your waiting room'|trans }}{% endblock %}
{% block body %}
<div class="app-body__bg">
    <div class="app-body__slug">
        <div class="first">{{ 'site_description_part1'|trans }}</div>
        <div class="second">{{ 'site_description_part2'|trans }}</div>
        <div class="third">{{ 'site_description_part3'|trans }}.</div>
    </div>

    <div class="text-center">
        <div class="app-body__clip">
        </div>
        <div class="app-body__card">
            <div class="app-form">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_label(form.email) }}
                <div class="app-form__line"></div>
                <div class="input-group">
                    {{ form_widget(form.email) }}
                    <span class="input-group-btn">
                    {{ form_widget(form.submit) }}
                   </span>
                </div>
                {{ form_end(form) }}
            </div>
            <p>* {{ 'We do not spam you with senseless information'|trans }} <a href="mailto:frank.scrock@2p-med.de?subject=unsubscribe">{{ 'unsubscribe'|trans }}</a>.</p>
        </div>
        <div class="app-body__cardshade"></div>
    </div>
    <div class="app-footer">
        <p><span>&copy;</span><span><i class="app-icon-logo"></i></span><span>.med</span></p>
    </div>
</div>
{% endblock %}

