@font-face {
    font-family: 'unit-thin';
    src: url("../fonts/unit-thin.eot");
    src: url("../fonts/unit-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-thin.woff") format("woff"), url("../fonts/unit-thin.ttf") format("truetype"), url("../fonts/unit-thin.svg#unit-thin") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'unit-light';
    src: url("../fonts/unit-light.eot");
    src: url("../fonts/unit-light.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-light.woff") format("woff"), url("../fonts/unit-light.ttf") format("truetype"), url("../fonts/unit-light.svg#unit-light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'unit-medium';
    src: url("../fonts/unit-medium.eot");
    src: url("../fonts/unit-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/unit-medium.woff") format("woff"), url("../fonts/unit-medium.ttf") format("truetype"), url("../fonts/unit-medium.svg#unit-light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '2p';
    src: url("../fonts/2p.eot");
    src: url("../fonts/2p.eot?#iefix") format("embedded-opentype"), url("../fonts/2p.woff") format("woff"), url("../fonts/2p.ttf") format("truetype"), url("../fonts/2p.svg#unit-light") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e6e3df;
    font: 11pt 'unit-light', serif;
    color: #000;
    min-width: 950px;
}
label {
    cursor: pointer;
}
/* for safari */
*[draggable=true] {
    -khtml-user-drag: element;
    cursor: move;
}



/* Header Component */
header {
    font: 11pt 'unit-medium', serif;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc9c6;
    white-space: nowrap;
    line-height: 70px;
    display: table;
}

header div {
    display: inline-block;
    line-height: 70px;
}

header .current-datetime {
    padding: 0 20px 0 5px;
    text-align: right;
    float: right;
}


header .user-profile {
    float: left;
    line-height: normal;
}

header .user-profile a {
    display: inline-block;
}

header .user-profile a {
    color: #000;
    text-decoration: none;
    display: inline-block;
}

header .user-profile .name {
    font-family: 'unit-medium', serif;
    line-height: 15px;
    display: inline-block;
    margin-top: 22px;
}

header .user-profile .position {
    font-family: 'unit-light', serif;
    line-height: 15px;
    display: block;
}


header .user-profile.avatar {
    float: left;
    line-height: 70px;
}

header .user-profile.avatar a {
    padding: 0 10px 0 20px;
}
header .user-profile.avatar a img {
    display: inline-block;
    width: 51px;
    height: 51px;
    border: 1px solid #bcbcbc;
    border-radius: 30px;
}

header .user-profile.avatar img:hover {
    opacity: 0.78;
}

header .nav a:hover,
header .nav a:active,
header .nav a:focus {
    text-decoration: none;
}

header .nav {
    font: 15px 'unit-medium', serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 70px;
    float: right;
}

header .nav a {
    color: #000;
}

header .nav ul.list-inline {
    margin: 0;
    display: flex;
}

header .nav ul.list-inline li {
    padding: 0;
    display: inline-block;
    border-left: 1px solid #d6d6d6;
}

header .nav ul li a {
    padding: 0 15px;
    line-height: 70px;
    display: inline-block;
    width: 100%;
}

header .nav ul li.dropdown-button {
    width: 226px;
}

header .nav ul li.dropdown-button span.dropdown-icon {
    position: relative;
    margin-left: 100px;
    margin-bottom: 2px;
    display: inline-block;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

/* dropdown menu in nav */


header .nav ul li.dropdown-button ul.dropdown-content {
    border-top: solid 1px #ccc9c6;
    padding: 0;
    position: absolute;
    background: #fff;
    display: none;
    z-index: 1000;
    width: 226px;
    box-shadow: -1px 4px 5px 3px rgba(69,69,69,0.2);
}

header .nav ul li.dropdown-button ul.dropdown-content li {
    border: none;
    display: block;
    line-height: 40px;
}

header .nav ul li.dropdown-button ul.dropdown-content li a {
    line-height: 40px;
    font-size: 10.5pt;
}

header .nav ul li.dropdown-button ul.dropdown-content li ul {
    padding: 0;
}


header .nav ul li.dropdown-button ul.dropdown-content li ul li a {
    font-family: 'unit-light', serif;
    line-height: 40px;
    text-indent: 7px;
}

/* dropdown animation on mouse over*/
header .nav ul li.dropdown-button:hover > .dropdown-content {
    display: block;
}



header .nav a:hover {
    background: #ebebeb;
}

header .logo {
    float: right;
    width: 80px;
    background: #00b9f2;
    color: #fff;
    text-align: center;
}

header .logo i {
    font: normal 30pt '2p';
    color: #fff;
    line-height: 40px;
    margin: 15px 0 15px 8px;
    display: block;
}

header .logo i:before {
    content: '\e800';
}



.left-sidebar { /* Patient list (wrapper for widget)*/
    float:left;
    margin: 20px;
    background: #fff;
    position: relative;
    width: 302px;
}
.left-sidebar .search {
    padding:0;
    margin:0;
}
.left-sidebar .search .query input {
    margin: 0;
    display: inline-block;
    width: 111px;
    height: 31px;
    float: right;
    padding: 9px 27px 9px 11px;
    background: #ebebeb;
    color: #939393;
    border: none;
    outline: none;
    transition: width 0.13s ease-in-out;
}
.left-sidebar .search .query input:focus {
    width: 178px;
}
.left-sidebar .search .query i {
    position: absolute;
    right: 31px;
    color: #939393;
    padding: 0 10px;
    pointer-events: none;
    line-height: 31px;
}
.left-sidebar .search .query button {
    position: absolute;
    content: "\f002";
    width: 33px;
    height: 33px;
    background: transparent;
    font-size: 14px;
}

.left-sidebar .search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #939393;
}
.left-sidebar .search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #939393;
    opacity: 1;
}
.left-sidebar .search ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #939393;
    opacity: 1;
}
.left-sidebar .search :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #939393;
}

.left-sidebar .search .button-patient-add {
    line-height: 31px;
    border: 0;
    margin: 0;
    padding: 0;
    height: 31px;
    width: 31px;
    color: #fff;
    background: #4ccef6;
    text-align: center;
    display: block;
    text-decoration: none;
    float: right;
    user-select: none;
}






.right-sidebar { /* Appointment details (wrapper for widget) */
    float:right;
    margin: 20px;
    background: #fff;
    position: relative;
    width: 282px;
}


.calendar-container { /* Agenda (wrapper for widget) */
    position: relative;
    margin: 20px 302px 0 282px;
    background: #fff;
    border: 1px solid #ccc9c6;
    overflow: hidden;
}









/* common styles for any widget */
.widget h1 {
    margin: 0;
    padding: 10px;
    font: normal 19pt 'unit-light', serif;
}

.widget .bottom-expand-button { /* TODO expand by click */
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    line-height: 1px;
    font-size: 9pt;
    background: #cdcdcd;
    border: 0;
    border-top: 1px solid #a2a2a2;
    color: #fff;
    outline: none;
}

button.bottom-expand-button:active + .patients-list-container { /* TODO expand by click */
   display: none;
}

.widget {
    border: solid 1px #cdccc8;
    position:relative;
}
/* end of common styles any widget */

/* toggle button */

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
    display: none;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    width: 1.666em;
    height: 1em;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}


.tgl-flat + .tgl-btn {
    margin: 3px;
    height: 1em;
    padding: 2px;
    transition: all .1s ease;
    background: transparent;
    border: 1px solid #b3eafb;
    border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
    transition: all .1s ease;
    background: #b3eafb;
    content: "";
    border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
    border: 1px solid #b3eafb;
    color: #fff;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #fff;
}

.tgl-app + .tgl-btn {
    padding: 1px;
    transition: all .1s ease;
    background: transparent;
    border: 2px solid #ddd;
    border-radius: 2em;
    height: 1em;
    margin: 0 5px;
}
.tgl-app + .tgl-btn:after {
    transition: all .1s ease;
    background: #ddd;
    content: "";
    border-radius: 1em;
}
.tgl-app:checked + .tgl-btn {
    border: 2px solid #ddd;
    color: #ddd;
}
.tgl-app:checked + .tgl-btn:after {
    left: 50%;
    background: #000;
}


.tlg-label {
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 5px 0;
    vertical-align: text-bottom;
    line-height: 11px;
}
    /* end of toggle button */





.patient-add-form-toggle {
    display: none; /* hide the checkbox */
}
.patient-add-form-toggle + .patient-add-form {
    display: none; /* hidden patient add form by default */
}

.patient-add-form-toggle:checked + .patient-add-form {
    display: table;
    transition: 1s;
    height: auto;
}



.patient-add-form {
    position:relative;
    display:block;
    padding: 15px 10px;
    min-height: 300px;
    background: #4ccef6;
    clear: both;
}

.patient-add-form h4 {
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: #fff;
}


.patient-add-form form {
    margin-top: 15px;
    color: #b3eafb;
    float: none;
    position: relative;

}

.patient-add-form input[placeholder] {
    text-overflow: ellipsis;
    color: #b3eafb;
}
.patient-add-form input[placeholder]:focus {
    text-overflow: ellipsis;
    color: #fff;
}

.patient-add-form form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #b3eafb;
}

.patient-add-form form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b3eafb;
    opacity: 1;
}

.patient-add-form form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b3eafb;
    opacity: 1;
}

.patient-add-form form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b3eafb;
}

.patient-add-form form input {
    outline-color: #fff;
}


.patient-add-form form .row .gender {
    padding: 5px 0 0 15px;
    width: 31%;
    display: inline-block;
}

.patient-add-form form .row .firstname {
    padding: 5px 0 0 5px;
    width: 31%;
    display: inline-block;
}

.patient-add-form form .row .lastname {
    width: 33%;
    padding: 5px 5px 0 5px;
    display: inline-block;
}


.patient-add-form form .row .insurance {
    padding: 0 0 0 15px;
    width: 48%;
    display: inline-block;
}

.patient-add-form form .row .insuranceType {
    width: 46%;
    padding: 0 0 0 5px;
    display: inline-block;
}


.patient-add-form form .notifications {
    margin: 15px 5px 0 10px;
}

.patient-add-form form .btn {
    margin: 15px 0 2px 0;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    outline: none;
}

.patient-add-form form .btn:hover {
    color: #194654;
}
.patient-add-form form .btn:active {
    margin: 17px 0 0 0;
}

.patient-add-form form .med-checkbox-container:first-child {
    margin-bottom: 10px;
}


/* inputs */
.patient-form-control {
    cursor: pointer;
    background-color: #4ccef6;
    margin-bottom: 5px;
    padding: 8px 6px;
    border: 1px solid #b3eafb;
    width: 100%;
}

.patient-form-control:focus {
    color: #fff;
}

.patient-add-form .med-checkbox {
    height: 1.2rem;
    width: 2rem;
    border: 1px solid #b3eafb;
    border-radius: .8rem;
    padding: .1rem;
    margin-top: .3rem;
    margin-right: .7rem;
    cursor: pointer;
}

.patient-add-form .med-checkbox:before {
    content: ' ';
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
    background-color: #aee7f9;
}

.patients-list {
    border-top: solid 1px #ebebeb;
    clear: both;
}

.patients-list .patients-list-container {
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.patients-list ul {
    padding: 0;
    margin:0;
    list-style: none;
}

.patients-list ul a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.patients-list ul a:hover {
    background: #4ccef6;
}

.patients-list ul a {
    padding: 9px 10px;
    font-size: 15px;
}

.patients-list span {
    height: 32px;
    background-color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patients-list ul li ul li:nth-child(odd) {
    border-top: 1px solid #88d4fd;
    background: #c9ebfd;
}

.patients-list ul li:nth-child(even) {
    border-top: 1px solid transparent;
    background: #e9f7fe;
}








.right-sidebar .main-sections {
    border-top: 1px solid #d6d6d6;
    padding: 15px 10px;
}

.right-sidebar h3 {
    margin: 0;
    padding: 3px 10px 14px;
    font: normal 15px/1.1 "unit-light", serif;
}

.right-sidebar .main-sections {
    font-size: 15px;
    font-weight: normal;
}

.right-sidebar .main-sections ul {
    list-style: none;
    padding: 0;
}

.right-sidebar .main-sections .fa-fw {
    width: 14px;
    text-align: center;
    vertical-align: middle;
}

.right-sidebar .main-sections .med-checkbox {
    padding: 0 2px;
}

.right-sidebar .main-sections .deactivated * {
    color: #7f7f7f;
}

.right-sidebar .main-sections .deactivated .med-checkbox {
    border-color: #7f7f7f;
}

.right-sidebar .main-sections .deactivated .med-checkbox:before {
    background-color: #7f7f7f;
}

.right-sidebar .main-sections .mobile .fa-fw {
    font-size: 22px;
}

.right-sidebar .main-sections .email .fa-fw {
    font-size: 14px;
}

.right-sidebar .main-sections a {
    color: #000;
    text-decoration: none;
}

.right-sidebar .main-sections li {
    margin-top: 10px;
}

.right-sidebar .main-sections li.mobile {
    margin-top: 4px;
}

.right-sidebar .main-sections li.email {
    margin-top: 6px;
}

.right-sidebar .main-sections li a {
    vertical-align: middle;
    padding-left: 6px;
}

.right-sidebar .main-sections.sms-email li:first-child {
    margin-top: 0;
}

.right-sidebar .main-sections.sms-email ._label {
    padding-left: 8px;
}

.right-sidebar .main-sections.weitere-termine {
    padding: 15px 0;
}

.right-sidebar .main-sections.weitere-termine h4 {
    margin: 0;
    padding: 0 10px;
    font-size: 19px;
}

.right-sidebar .main-sections.weitere-termine li {
    margin-top: 0;
}

.right-sidebar .main-sections.weitere-termine li:first-child {
    margin-top: 10px;
}

.right-sidebar .main-sections.weitere-termine li:nth-child(odd) {
    background: #f2f2f2;
}

.right-sidebar .main-sections.weitere-termine li:nth-child(even) {
    background: #f8f8f7;
}

.right-sidebar .main-sections.weitere-termine li a {
    display: block;
    padding: 9px;
}









.table-header {
    font: 18px/1 'unit-light', serif;
    text-align: center;
    color: #000;
    padding: 0 10px;
    line-height: 25px;
}

.table-header .left-arrow {
    margin: 0 5px 0 0;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.table-header .right-arrow {
    margin: 0 0 0 5px;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.schedule-table.table-collapsed {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.schedule-table,
.schedule-table tr,
.schedule-table th,
.schedule-table td {
    border: 1px solid #d6d6d6;
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    position: relative;
    padding: 10px;
    min-width: 108px;
}

.schedule-table .weekend {
    color: #7f7f7f;
}

.schedule-table th {
    text-align: center;
}

.schedule-table tbody th {
    height: 133px;
    vertical-align: top;
}

.schedule-table tbody tr:nth-child(odd) th,
.schedule-table tbody tr:nth-child(odd) td {
    background: #faf9f9;
}

.schedule-table thead tr th.current-row,
.schedule-table thead tr td.current-row,
.schedule-table tbody tr th.current-row,
.schedule-table tbody tr td.current-row {
    background: #f2f2f2;
}

.schedule-table tbody td {
    vertical-align: top;
    padding: 0;
}


/* Styles for calendar */
.event {
    position: absolute;
    margin: 0;
    padding: 3px;
    width: 100%;
    border: 1px solid #fff;
    font: 16px/1 'unit-light', serif;
}

.event-past {
    background: #d6ecff;
}

.event-current {
    background: #fdd466;
}

.event-future {
    background: #93d7fb;
}
/* Styles for calendar events */



