{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_sms_message_template_edit'|trans }}{% endblock %}
{% block body %}
<div class="bb">
    <h2>{{ 'breadcrumbs.admin_sms_message_template_edit'|trans }}</h2>
    {{ form_start(form,{'attr': {'class': 'form'}})}}
    <div class="form-group row col-lg-12">
        <h4>{{ ('notifications.' ~ sms_message_template.getNotificationEvent.getAction ~ '.title')|trans }}</h4>
    </div>
    <div class="form-group col-lg-12 row">
            {% for message in form.SMSMessageBodies %}
                {{ form_widget(message) }}
                {{ form_errors(message) }}
            {% endfor %}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
