{% extends 'AppBundle:Layout:admin.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_sms_message_template_list'|trans }}{% endblock title %}
{% block body %}
    {% if list|length or candidates|length %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Notification event'|trans }}</th>
                <th>{{ 'Message'|trans  }}</th>
                <th class="text-right">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in list %}
                <tr>
                    <td>{{ ('notifications.' ~ entity.getNotificationEvent.getAction ~ '.title')|trans }}</td>
                    <td>{% for message in entity.getSMSMessageBodies %}
                            <p><strong>{{ message.language }}</strong>: {{ message.message }}</p>
                        {% endfor %}</td>
                    <td>
                        <div class="btn-group pull-right">
                            <a
                                class = "btn btn-xs btn-default"
                                href = "{{ path('admin_sms_message_template_edit', { 'sms_message_template_id': entity.id }) }}"
                            >
                                {{ 'breadcrumbs.admin_sms_message_template_edit'|trans }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for event in candidates %}
                <tr>
                    <td>{{ ('notifications.' ~ event.getAction ~ '.title')|trans }}</td>
                    <td>
                        <div class="btn-group pull-left">
                            <a
                                class = "btn btn-sm btn-primary"
                                href = "{{ path('admin_sms_message_template_create', { 'action': event.getAction }) }}"
                            >
                                {{ 'breadcrumbs.admin_sms_message_template_create'|trans }}
                            </a>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
