{% extends 'AppBundle:Layout:admin.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_log_list'|trans }}{% endblock title %}
{% block body %}
    <div class="app-section__content"><h1>{{ 'breadcrumbs.admin_log_list'|trans }}</h1></div>
    <div class="app-section__filter">

            {% if pagination|length == 0 %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bb">
                <h2 class="text-danger">{{ 'Empty result'|trans }}.</h2>
            </div>
        {% endif %}
    </div>


    {% if pagination|length %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb text-right">
                {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Doctor'|trans, 'doctor') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Patient'|trans, 'patient') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Appointment'|trans, 'appointment') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Log time'|trans, 'created') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Cost In'|trans, 'costIn') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Cost Out'|trans, 'costOut') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'SMS Status'|trans, 'smsStatus') }}</th>
                <th>{{ 'SMS Type'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'SMS Text'|trans, 'smsText') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Actions'|trans, 'action') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr class="{% if entity.smsStatus==200 or entity.getSmsType == 'email' %}bg-success{% else %}bg-danger{% endif %}">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.getDoctor.getTitle }}</td>
                    <td><a href="{{ path('admin_patient_show', {'id':entity.getPatient.getId}) }}">{{ entity.getPatient.getFullname }}</a></td>
                    <td>{% if entity.appointment %}

                            {% if (app.request.locale=='en') %}
                                {{ entity.appointment.start|date('h:i A / M d, Y') }}
                            {% else %}
                                {{ entity.appointment.start|date('H:i / M d, Y') }}
                            {% endif %}


                        {% else %}-{% endif %}</td>
                    <td>{% if entity.created %}

                            {% if (app.request.locale=='en') %}
                                {{ entity.created|date('h:i A / M d, Y') }}
                            {% else %}
                                {{ entity.created|date('H:i / M d, Y') }}
                            {% endif %}

                        {% endif %}</td>
                    <td>{% if  entity.costIn %}{{ entity.costIn }}{% else %}0{% endif %}</td>
                    <td>{% if  entity.costOut %}{{ entity.costOut }}{% else %}0{% endif %}</td>
                    <td>{{ entity.smsStatus }}</td>
                    <td>{{ entity.getSmsType }}</td>
                    <td>{{ entity.smsText }}</td>
                    <td>{{ ('notifications.' ~ entity.action ~ '.title')|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb text-right">
                {{ knp_pagination_render(pagination) }}
            </div>


    {% endif %}

{% endblock %}

{% block javascipts %}
    <script type="text/javascript">
        $(function() {
            $('.datetimepicker').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
        });
    </script>
{% endblock %}