{% extends 'onekitAppBundle:Layout:admin.html.twig' %}
{% block body %}
    <div class="bb">
        <h2>{{ entity.execute|date('Y-m-d H:i:s') }}</h2>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>ID: {{ entity.id }}</p>

            <p>{{ entity.execute|date('Y-m-d H:i:s') }}</p>
        </div>
    </div>
{% endblock %}

