{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_user_create'|trans }}{% endblock %}
{% block body %}
<div class="bb">
    <h1>{{ 'breadcrumbs.admin_user_create'|trans }}</h1>
    {{ form_start(form,{'attr': {'class': 'form', 'id': 'user_upload' }})}}

    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
        {{ form_errors(form.roles) }}
    </div>

    <div class="form-group">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
        {{ form_errors(form.language) }}
    </div>
    <div class="form-group">
        {{ form_label(form.gender) }}
        {{ form_widget(form.gender) }}
        {{ form_errors(form.gender) }}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        {{ form_errors(form.firstname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        {{ form_errors(form.lastname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        {{ form_errors(form.plainPassword) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.enabled) }}
        {{ form_label(form.enabled) }}
    </div>
    {{ form_end(form) }}
</div>
 {% endblock %}
