{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_user_edit'|trans }}{% endblock %}
{% block body %}
<div class="bb">
    <h1>{{ 'breadcrumbs.admin_user_edit'|trans }}</h1>
    {{ form_start(form,{'method': 'POST', 'action': path('admin_user_edit',{'user_id': user.id}), 'attr': {'class': 'form', 'id': 'user_upload' }})}}

    <div class="form-group">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
        {{ form_errors(form.language) }}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        {{ form_errors(form.plainPassword) }}
    </div>

    <div class="form-group">
            {{ form_widget(form.enabled) }}
            {{ form_label(form.enabled) }}
    </div>
    {{ form(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
