{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_user_list'|trans }}{% endblock title %}
{% block description %}{{ 'breadcrumbs.admin_user_list'|trans }}{% endblock %}
{% block body %}
    <div class="app-section__filter">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bb">
            <div class="btn-group">
                <a class="btn btn-xs btn-primary" href="{{ path('admin_user_create') }}">{{ 'breadcrumbs.admin_user_create'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="app-section__filter">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {{ form_start(form,{'attr': {'class': 'form-inline', 'id': 'search' }} ) }}
            <div class="form-group">
                {{ form_widget(form.user) }}
                {{ form_errors(form.user) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.go) }}
            </div>
            {{ form_end(form) }}
        </div>

        {% if pagination|length %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}

        {% if pagination|length == 0 %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="text-danger">{{ 'Empty result'|trans }}.</h2>
            </div>
        {% endif %}
    </div>

    {% if pagination|length %}
        <div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="hidden-xs text-center">{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                    <th class="">{{ knp_pagination_sortable(pagination, 'Login'|trans, 'u.username') }}</th>
                    <th class="hidden-xs">{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email') }}</th>
                    <th class="">{{ 'Doctor'|trans }}</th>
                    <th class="hidden-xs text-center">{{ knp_pagination_sortable(pagination, 'Created'|trans, 'u.created') }}</th>
                    <th class="text-right">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}

                    <tr class="{% if entity.isDeleted %}bg-warning{% else %}bg-success{% endif %}">

                        <td class="hidden-xs text-center">{{ entity.id }}</td>
                        <td class="">
                            <a href="{{ path('admin_user_show', { 'user_id': entity.id }) }}">
                                {{ entity.username }}
                            </a>
                        </td>
                        <td class="hidden-xs">{{ entity.email }}</td>
                        <td class="">
                            {% if entity.isDoctor %}
                                <a href="{{ path('admin_doctor_show', { 'id': entity.getDoctor.getId }) }}">
                                    {{ entity.getDoctor.getTitle }}
                                </a>
                            {% endif %}
                        </td>
                        <td class="hidden-xs text-center">
                            {% if entity.created %}
                                {% if (app.request.locale=='en') %}
                                    {{ entity.created|date('h:i A / M d, Y') }}
                                {% else %}
                                    {{ entity.created|date('H:i / M d, Y') }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a
                                    class = "btn btn-xs btn-default"
                                    href = "{{ path('admin_user_edit', { 'user_id': entity.id }) }}"
                                >
                                    {{ 'breadcrumbs.admin_user_edit'|trans }}
                                </a>
                                {% if entity.isDeleted %}
                                {% else %}
                                    <a
                                        class = "btn btn-xs btn-danger confirm"
                                        href = "{{ path('admin_user_delete', { 'user_id': entity.id }) }}"
                                        title = "{{ 'delete user'|trans }} {{ entity.username }}"
                                    >
                                        {{ 'breadcrumbs.admin_user_delete'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb text-right">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endif %}

{% endblock %}
{% block javascripts_after %}
    {{ parent() }}
    <script type="text/javascript">
        function unescapeHtml(text, data)
        {
            this.$element.val($('<div />').html(text).text());
        }

        $(document).on("click", ".confirm", function(e) {
            var link = $(this).attr("href");
            var title = $(this).attr("title");
            e.preventDefault();
            bootbox.setLocale('{{ app.request.locale }}');
            bootbox.confirm(
                    {
                        size: 'small',
                        message: "{{ 'Are you sure you want to'|trans }} "+ title +" ?",
                        callback: function(result) {
                            if (result) {
                                document.location.href = link;
                            }
                        }
                    }
            );
        });
    </script>
{% endblock %}