{% extends 'AppBundle:Layout:admin.html.twig' %}

{% block body %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb">
        <h2>
            {{ entity.username }}
        </h2>
        <p>ID: {{ entity.id }}</p>
        <p>{{ 'Username'|trans }}: {{ entity.username }}</p>
        <p>{{ 'Created'|trans }}:

            {% if (app.request.locale=='en') %}
                {{ entity.created|date('h:i A / M d, Y') }}
            {% else %}
                {{ entity.created|date('H:i / M d, Y') }}
            {% endif %}

        </p>
        <div class="bb">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('admin_user_edit', {'user_id':entity.id}) }}">
                    {{ 'breadcrumbs.admin_user_edit'|trans }}
                </a>
                <a href="{{ path('admin_doctor_create', {'user_id': entity.id}) }}" class="btn btn-primary">
                    {{ 'breadcrumbs.admin_doctor_create'|trans }}
                </a>
            </div>
        </div>
    </div>

{% endblock %}

