.app-form {
  display: table;
  width: 100%;
  & + .app-form {
    margin: 10px 0 0 0;
  }
}

.app-form__head {
  display: block;

  padding: 5px;

  color: #fff;

  background: #2c4c90;

  border-radius: 2px 2px 0 0;
}

.app-form__heading_one {
  margin: 0.5em;
}

.app-form__body {
  display: block;

  padding: 20px;

  background: #ebebeb;
  .app-form__row {
    &:last-child {
      margin-bottom: 0;
    }
  }
  // mods
  &.app-form__body_multicolumn {
    display: table;

    width: 100%;

    padding: 0;
  }
  // mods end
}

.app-form__footer {
  display: block;

  padding: 0 20px 20px 20px;

  background: #ebebeb;
}