.app-form__messages-icon {
  position: absolute;
  display: none;

  top: 0;
  left: 101%;

  &:after {
    font-size: 26px;

    content: "*";
  }
  &:hover {
    & ~ .app-form__messages {
      display: block;
    }
  }

  // mods
  &._error {
    color: #f00;
  }
  &._notification {
    color: #53c412;
  }
  // mods
}

.app-form__messages {
  position: absolute;
  display: none;

  width: 60%;

  top: 0;
  left: 101%;

  padding: 5px;

  background: #fff;

  border: solid 1px #bababa;

  z-index: 1000;

  &:hover {
    display: block;
  }
}

.app-form__message {
  display: block;

  width: 100%;

  // mods
  &._error {
    color: #f00;
  }
  &._notification {
    color: #53c412;
  }
  // mods end
}