.app-form__row {
  display: block;

  margin-bottom: 10px;

  border: solid 0 black;
  // mods end
  // mixins

  ._clearfix;

  // mods
  .app-form__row_inline {
    .app-form__label {
      display: inline-block;

      width: auto;
    }
    .app-form__control {
      display: inline-block;

      width: auto;
    }
  }
  // mixins end
}

.app-form__label {
  margin: 7px 0 0 0;

  text-align: right;

  // mods
  &.app-form__label_multi {
    margin-top: 0;
  }

  &.app-form__label_checkbox {
    display: inline-block;
  }

  &._required {
    &:after {
      position: absolute;

      width: auto;

      top: -3px;
      right: -3px;

      color: #ce3100;

      content: " *";
    }
  }
  // mods end
}


.app-form__control {
  height: 44px;
  padding: 0 5px;
  border: solid 1px #bababa;
  border-radius: 0;

  &:focus {
    outline: none;
  }
  // mods
  &.app-form__control_textarea {
    height: 72px;
    padding-top: 5px;
    resize: none;
  }

  &._has-messages {
    &._error {
      border: solid 1px #f00;
    }
    &._notification {
      border: solid 1px #53c412;
    }
    &:focus {
      & ~ .app-form__messages {
        display: block;
      }
    }
    & + .app-form__messages-icon {
      display: block;
    }
  }
  // mods end
}