.app-form__column {
  display: table-cell;

  width: auto;
  height: 100%;

  padding: 20px;

  vertical-align: top;

  &._half {
    width: 50%;
  }

  &.app-form__column_dark {
    background: #bababa;
  }
}