.app-nav {
  width: 100%;
  display: table;
  padding: 0;
  margin: 0;
}

.app-nav__item {
  display: table-cell;
  width: 1%;
  background: #000000;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #282828;

  line-height: 1em;

  &:hover {
    background: #fff;
    & > a {
      color: #000;
    }
  }

  a {
    color: #fff;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
  }
}

.app-nav__item.active {
  background: #fff;
  a {
    color: #000;
  }
}