.app-icon-logo {
  font-family: '2p';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.app-icon-logo:after {
  content: "\e800";
}

.app-head__logowrapper {
  margin: 0 auto;
  display: block;
  max-width: 980px;
  padding: 0 20px;
}

.app-head__logo {
  float: left;
  width: 106px;
  height: 80px;
  background: #00b9f2;
  display: table;
  text-align: center;
  -webkit-box-shadow: 0 8px 8px 0 rgba(50, 50, 50, 0.38);
  -moz-box-shadow:    0 8px 8px 0 rgba(50, 50, 50, 0.38);
  box-shadow:         0 8px 8px 0 rgba(50, 50, 50, 0.38);
  .app-icon-logo {
    line-height: 74px;
    font-size: 4.2em;
    margin: 1px 0 0 9px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  a:active {
    color: #ff0;
  }
}

.app-footer {
  .app-footer_app-icon {
    font-size: 1.8em;
    margin: 0 5px;
    display: inline-block;
    line-height: 64px;
    width: 47px;
  }
  span {
    line-height: 62px;
     margin: 0 5px;
  }
}

.app-footer__slug {
  margin: 5px 0 0 0;
  font-size: 1.2em;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .app-head__logo {
    width: 60px;
    height: 40px;
    .app-icon-logo {
      line-height: 44px;
      font-size: 2em;
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .app-head__logo {
    width: 60px;
    height: 40px;
    .app-icon-logo {
      line-height: 44px;
      font-size: 2em;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  .app-head__logo {
    width: 60px;
    height: 40px;
    .app-icon-logo {
      line-height: 44px;
      font-size: 2em;
    }
  }


}