{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_settings'|trans }}{% endblock %}
{% block body %}
    <div style="width: 90%; margin: 0 auto;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'breadcrumbs.admin_settings'|trans }}</h1>
                    {{ form_start(form,{'method': 'POST', 'action': path('admin_settings'), 'attr': {'class': 'form-horizontal' }})}}
                    <div class="form-group">
                        <div class="checkbox">
                            {{ form_widget(form.notify_email) }}
                            {{ form_label(form.notify_email) }}
                            {{ form_errors(form.notify_email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            {{ form_widget(form.notify_sms) }}
                            {{ form_label(form.notify_sms) }}
                            {{ form_errors(form.notify_sms) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
