@path-images: "/bundles/app/img";
@path-fonts: "/bundles/app/fonts";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/bundles/app/fonts/glyphicons-halflings-regular.eot");
  src: url("/bundles/app/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/bundles/app/fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("/bundles/app/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: '2p'; /*logo*/
  src:url('/bundles/app/fonts/2p.eot?z7einw');
  src:url('/bundles/app/fonts/2p.eot?#iefixz7einw') format('embedded-opentype'),
  url('/bundles/app/fonts/2p.woff?z7einw') format('woff'),
  url('/bundles/app/fonts/2p.ttf?z7einw') format('truetype'),
  url('/bundles/app/fonts/2p.svg?z7einw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'unit-medium';
  src: url('/bundles/app/fonts/unit-medium.eot');
  src: local('☺'), url('/bundles/app/fonts/unit-medium.woff') format('woff'), url('/bundles/app/fonts/unit-medium.ttf') format('truetype'), url('/bundles/app/fonts/unit-medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'unit-light';
  src: url('/bundles/app/fonts/unit-light.eot');
  src: local('☺'), url('/bundles/app/fonts/unit-light.woff') format('woff'), url('/bundles/app/fonts/unit-light.ttf') format('truetype'), url('/bundles/app/fonts/unit-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unit-thin';
  src: url('/bundles/app/fonts/unit-thin.eot');
  src: local('☺'), url('/bundles/app/fonts/unit-thin.woff') format('woff'), url('/bundles/app/fonts/unit-thin.ttf') format('truetype'), url('/bundles/app/fonts/unit-thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}






