.med-checkbox {
  height: 1.2rem;
  width: 2rem;
  border: 1px solid #00b9f2;
  // background-color: #aee7f9;
  border-radius: .8rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .1rem;
  padding-right: .1rem;
  margin-top: .3rem;
  margin-right: .7rem;
  cursor: pointer;
  &:before {
    content: ' ';
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
    background-color: #aee7f9;
  }
  &.checked {
    &:before {
      background-color: #00b9f2;
      float: right;
    }
    border: 1px solid #00b9f2;
  }
}
