.search-input-container {
  height: 3.2rem;
  color: #939393;
  ._input {
    border: none;
    background-color: #ebebeb;
    height: 3.2rem;
    padding-right: 3.2rem;
  }
  ._icon {
    display: block;
    line-height: 3.2rem;
    margin-right: 1.3rem;
    height: 3.2rem;
    width: 3.2rem;
  }
}
