.med-select-component {
  position: relative;
  ._control {
    width: 100%;
    cursor: pointer;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    ._label {

    }
    ._icon: {
      font-size: 8px;
    }
  }
  .item-list {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    .item {
      cursor: pointer;
      line-height: 1.4;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        cursor: pointer;
        background-color: #78B8CC;
      }
      ._label {
      }
    }
  }
}
