{% extends 'AppBundle:Layout:admin.html.twig' %}
{% block body %}
    <h1>not implemented</h1>
{% endblock %}

{#<div class="btn-group pull-right">#}
    {#<a class="btn btn-xs btn-primary"#}
       {#href="{{ path('admin_appointment_create', {'user': entity.id }) }}">{{ 'breadcrumbs.admin_appointment_create'|trans }}</a>#}
    {#<a class="btn btn-xs btn-default"#}
       {#href="{{ path('admin_user_edit', { 'user_id': entity.id }) }}">{{ 'breadcrumbs.admin_user_edit'|trans }}</a>#}
    {#<a class="btn btn-xs btn-danger confirm"#}
       {#href="{{ path('admin_user_delete', { 'user_id': entity.id }) }}"#}
       {#title="{{ 'delete user'|trans }} {{ entity.firstname }} {{ entity.lastname }}">{{ 'breadcrumbs.admin_user_delete'|trans }}</a>#}
{#</div>#}
