{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_doctor_edit'|trans }}{% endblock %}
{% block body %}
<div class="bb">
    <h2>{{ 'breadcrumbs.admin_doctor_edit'|trans }}</h2>
    {{ form_start(form,{'method': 'POST', 'attr': {'class': 'form', 'id': 'appointment_upload' }})}}
    <div class="form-group row col-lg-12">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group row col-lg-12">
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}
        {{ form_errors(form.address) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
