{% extends 'AppBundle:Layout:admin.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_doctor_list'|trans }}{% endblock title %}
{% block description %}{{ 'breadcrumbs.admin_doctor_list'|trans }}{% endblock %}
{% block body %}
    {% if pagination|length %}
        <div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="hidden-xs text-center">{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'd.title') }}</th>
                    <th class="hidden-xs text-center">{{ knp_pagination_sortable(pagination, 'Expired in'|trans, 'd.expiredIn') }}</th>
                    <th class="text-right">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for doctor in pagination %}
                        <tr class="{% if (doctor.getExpiredIn is empty) or (doctor.getExpiredIn|date("Y-m-d") > "now"|date("Y-m-d")) %}bg-success{% else %}bg-warning{% endif %}">
                            <td class="hidden-xs text-center">{{ doctor.id }}</td>
                            <td>
                                <a href="{{ path('admin_doctor_show', { 'id': doctor.id }) }}">
                                    {{ doctor.getTitle }}
                                </a>
                            </td>
                            <td class="text-center">
                                {{ doctor.getExpiredIn|date("Y-m-d") }}
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb text-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}

{% endblock %}
