{% extends 'AppBundle:Layout:admin.html.twig' %}

{% block body %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb">
        <h2>
            {{ entity.getTitle }}
        </h2>

        <p>ID: {{ entity.getId }}</p>

        <p>
            {{ 'Account'|trans }}:
            <a href="{{ path('admin_user_show', {'user_id': entity.getAccount.getId}) }}">
                {{ entity.getAccount.getUsername }}
            </a>
        </p>
        <div class="bb">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('admin_doctor_edit', {'id': entity.getId}) }}">
                    {{ 'breadcrumbs.admin_doctor_edit'|trans }}
                </a>
                <a href="{{ path('admin_patient_create', {'patient_id':entity.getId}) }}" class="btn btn-primary">
                    {{ 'breadcrumbs.admin_patient_create'|trans }}
                </a>
            </div>
        </div>
    </div>

{% endblock %}

