.blur-background {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  bottom: 0;
  background: #EFECEB;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 1;
  &.active {
    display: block;
  }
}
