#dashboard-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-color: #fff;
  .dashboard-header__logo {
    background-color: #00b9f2;
  }
  .dashboard-header__brand {
    padding: 0;
    height: auto;
  }
}