.main-navbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  .caret {
    line-height: 40px;
    margin-top: 17px;
    margin-left: 32px;
  }
  & li.menu-item {
    flex-basis: auto;
    border-left: 1px solid #e3e3e3;
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
    &:hover a + ul {
      display: block;
    }
    & > a {
      display: flex;
      font-size: 15px;
      max-width: 200px;
      line-height: 40px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      & + ul {
        display: none;
        position: absolute;
        background-color: #fff;
        right: 0;
      }
    }
  }
  .dropdown {
    z-index: 2;
    .dropdown-menu-block {
      padding: 10px 15px;
      .menu-block-header {
        font-weight: bold;
        padding-bottom: 10px;
        & > a {
          padding: 5px;
        }
      }
      .menu-block-container {
        padding-left: 15px;
      }
      & > li {
        & > a {
          &:hover {
            background-color: inherit;
          }
          padding: 0;
          line-height: inherit;
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  .menu-item {
    & > a {
      &:hover {
        background-color: #e3e3e3;
      }
    }
    a {
      text-decoration: none;
      padding: 0;
      color: #000;
    }
  }
}
