.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  .main-header__menu_container {
    background-color: #00b9f2;
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-header__line {
    background: #00b9f2;
    height: 5px;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 3em;
  }
  .main-header__sub_header {
    margin-top: 15px;
  }
  a {
    height: 80px;
    width: 80px;
    &:hover {
      color: #00b9f2;
      text-decoration: none;
    }

    .main-header__logo {
      font-family: '2p';
      //speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 4.2em;
    }
  }
  .main-header__toggle {
    font-size: 19px;
  }
}
