@height:40px;
@spacing:10px;
@select-colour:#2875C7;
@font-size:14px;
@border-colour:#DDD;
@icon-width: 20px;

.menu-element {
  float: right;
  &.menu-element__show {
    .menu-element-list {
    }
  }
  .menu-element-display {
    float:left;
    width:100%;
    background:white;
    height:@height;
    cursor:pointer;
    border:solid 1px @border-colour;

    >* {
      float:left;
      height:100%;
    }
    >span {
      font-size:@font-size;
      width:100%;
      position:relative;
      padding-right:@icon-width+@spacing*2;
      padding-left:@spacing;
    }
    >i {
      position:relative;
      width:@icon-width;
      margin-left:(@spacing+@icon-width)*-1;
      font-size:1.125em;
      font-weight:bold;
      padding-right:@spacing;
      text-align:right;
    }
  }
}