#main-navbar {
  height: 70px;
  border: none;
  margin-top: 15px;
  background-color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #ccc9c6;
  .main-logo {
    background-color: #00b9f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    height: 70px;
    width: 80px;
  }
  .main-navbar-menu {
    justify-content: flex-end;
  }
  & > .container-fluid {
    height: 100%;
  }
  .menu-items {
    margin-left: 15px;
  }
  .navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .datetime {
    line-height: 40px;
    padding-top: 15px;
  }
  a {
    &.active {
      background-color: #ebebeb;
    }
  }
}
