.patient-form-container {
  padding: 15px 10px;
  background-color: #00b9f2;
  color: #fff;
  .med-checkbox {
    border-color: #aee7f9;
    &.checked {
      border: 1px solid #fff;
      &:before {
        background-color: #fff;
      }
    }
  }
  .med-select-component {
    ._control {
      height: 3.8rem;
      line-height: 1.4;
      padding: 8px 6px;
      border: 1px solid #fff;
    }
    .item-list {
      .item {
        line-height: 1.4;
        padding: 8px 6px;
        background-color: #00b9f2;
        border: 1px solid #fff;
        height: 3.8rem;
      }
    }
  }
  .patient-form-control__padding {
    padding-left: 3px;
    padding-right: 3px;
  }
  .patient-form-control__padding-left {
    padding-left: 3px;
  }
  .patient-form-control__padding-right {
    padding-right: 3px;
  }
  .inline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    input {
      flex-grow: 1;
      flex-basis: auto;
    }
  }
  .med-select-component {
    margin-bottom: 5px;
  }
  .inline-container: {
    display: flex;
  }
  button {
    color: #fff;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}
