.patient-form-control {
  background-color: #00b9f2;
  margin-bottom: 5px;
  padding: 8px 6px;
  border: 1px solid #b3eafb;
  width: 100%;
  color: #b3eafb;
  &:focus {
    border-color: #fff;
    color: #fff;
  }
  &.patient-form-control__fullwidth {
    width: inherit;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {color:#b3eafb;}
  &::-moz-placeholder          {color:#b3eafb;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#b3eafb;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#b3eafb;}

}
