@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.spinner {
  width: 70px;
  text-align: center;
  div {
    width: 18px;
    height: 18px;
    background-color: #00b9f2;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  //background-color: #00b9f2;
  //border-radius: 100%;
  //display: inline-block;
  //-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  //animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  .item1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .item2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

.block-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100%; */
  position: absolute;
  /* width: 100%; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: .8;
  }
  .white-background {
    background-color: #fff;
  }
  .black-background {
    background-color: #000;
  }
}
