.user-profile {
  &.user-profile_small {
    height: 100%;
    .user-avatar {
      float: left;
    }
    .profile-info {
      height: 100%;
      /* vertical-align: middle; */
      /* margin: auto; */
      font-size: 16px;
      margin-top: 20px;
      margin-left: 15px;
      line-height: 1;
      p {
        margin: 0;
      }
      .fullname {
        font-size: 16px;
        font-weight: bold;
      }
      .position {
        font-size: 13px;
      }
    }
  }
}
