.animation-mixin (@name, @duration: 300ms, @delay: 0, @ease: ease, @repeat) {
  -webkit-animation: @name @duration @delay @ease @repeat;
  animation: @name @duration @ease @repeat;
}

.animation-delay-mixin (@delay) {
  -webkit-animation-delay: @delay;
  animation-delay: @delay;
}

.transition-mixin (@transition) {
  transition: @transition;
}

.rotate-mixin (@deg) {
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}

.transform-mixin (@string) {
  -webkit-transform: @string;
  transform: @string;
}

.gradient-mixin (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient-mixin (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.opacity-mixin (@opacity: 0.5) {
  opacity: @opacity;
}

.border-radius-mixin (@radius: 5px) {
  border-radius: @radius;
  background-clip: padding-box;
}

.box-sizing-mixin (@type: border-box) {
  box-sizing: @type;
}

.box-shadow-mixin (@string) {
  box-shadow: @string;
}

.keyframes-mixin(@name, @rules) {
  @keyframes @name {
    @rules();
  }
;
  @-moz-keyframes @name {
    @rules();
  }
;
  @-webkit-keyframes @name {
    @rules();
  }
;
  @-o-keyframes @name {
    @rules();
  }
;
}

.font-smoothing(@value) when (@value = 'on') {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-smoothing(@value) when (@value = 'off') {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
