{% extends 'AppBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppBundle:Form:form_horizontal.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_appointment_create'|trans }}{% endblock %}
{% block body %}
<div class="bb">
    <h2>{{ 'breadcrumbs.admin_appointment_create'|trans }}</h2>
    {{ form_start(form,{'method': 'POST', 'attr': {'class': 'form', 'id': 'appointment_upload' }})}}
    <div class="form-group row col-lg-12">
        <h4>{{ appointment.patient.firstname }} {{ appointment.patient.lastname }}</h4>
    </div>
    {#<div class="form-group row col-lg-12">#}
        {#{{ form_label(form.doctor) }}#}
        {#{{ form_widget(form.doctor) }}#}
        {#{{ form_errors(form.doctor) }}#}
    {#</div>#}
    <div class="form-group row col-lg-12">
        {{ form_widget(form.start) }}
        {{ form_errors(form.start) }}
    </div>
    <div class="form-group row col-lg-12">
        {{ form_widget(form.end) }}
        {{ form_errors(form.end) }}
    </div>
    <div class="col-lg-12 row">
        <label>
            {{ form_widget(form.notify_sms) }}
            {{ form_errors(form.notify_sms) }}
            {{ form_label(form.notify_sms) }}
        </label>
    </div>
    <div class="col-lg-12 row">
        <label>
            {{ form_widget(form.notify_email) }}
            {{ form_errors(form.notify_email) }}
            {{ form_label(form.notify_email) }}
        </label>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts_after %}
    {{ parent() }}
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    </script>
{% endblock %}