{% extends 'AppBundle:Layout:admin.html.twig' %}
{% block title %}{{ 'breadcrumbs.admin_appointment_list'|trans }}{% endblock title %}
{% block body %}


    {% if pagination|length %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bb">
            <div class="text-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Reception'|trans, 'a.start') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Doctor'|trans, 'a.doctor') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Patient'|trans, 'a.patient') }}</th>
                <th class="text-right">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr class="bg-success">
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('admin_appointment_edit', { 'appointment_id': entity.id }) }}" title="{{ entity.start|date('h:i A / M d, Y') }}">

                            {% if (app.request.locale=='en') %}
                            {{ entity.start|date('h:i A / M d, Y') }}
                            {% else %}
                                {{ entity.start|date('H:i / M d, Y') }}
                            {% endif %}


                        </a></td>
                    <td><a href="{{ path('admin_doctor_show', { 'id': entity.getDoctor.getId }) }}">{{ entity.getDoctor.getTitle }}</a></td>
                    <td><a href="{{ path('admin_patient_show', { 'id': entity.getPatient.getId }) }}">{{ entity.getPatient.getFirstName }} {{ entity.getPatient.getLastName }}</a></td>
                    <td>
                        <div class="btn-group pull-right">
                        <a class="btn btn-xs btn-default" href="{{ path('admin_appointment_edit', { 'appointment_id': entity.id }) }}">{{ 'breadcrumbs.admin_appointment_edit'|trans }}</a>
                        <a class="btn btn-xs btn-danger confirm"
                               href="{{ path('admin_appointment_delete', { 'appointment_id': entity.id }) }}"
                               title="{{ 'delete appointment'|trans }} {{ 'for'|trans }} {{ entity.patient.firstname }} {{ entity.patient.lastname }} {{ 'at'|trans }} {% if (app.request.locale=='en') %}{{ entity.start|date('h:i A / M d, Y') }}{% else %}{{ entity.start|date('H:i / M d, Y') }}{% endif %}"
                               >{{ 'breadcrumbs.admin_appointment_delete'|trans }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                {{ knp_pagination_render(pagination) }}
            </div>

    {% endif %}

{% endblock %}


{% block javascripts_after %}
    {{ parent() }}
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({format: 'YYYY-MM-DD HH:mm'});

        $(document).on("click", ".confirm", function(e) {
            var link = $(this).attr("href");
            var title = $(this).attr("title");
            e.preventDefault();
            bootbox.setLocale('{{ app.request.locale }}');
            bootbox.confirm(
                    {
                        size: 'small',
                        message: "{{ 'Are you sure you want to'|trans }} "+ title +" ?",
                        callback: function(result) {
                            if (result) {
                                document.location.href = link;
                            }
                        }
                    }
            );
        });
    </script>
{% endblock %}