.app-head {
  ._clearfix;
}

.app-head__menu {
  color: #fff;
  background: #00b9f2;
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  height: 110px;
  transition: top 300ms cubic-bezier(0.17,0.04,0.03,0.94);
  overflow: hidden;
  box-sizing: border-box;
  text-align: right;
  line-height: 105px;
  font-size: 1.35em;
  font-family: 'unit-medium', san-serif;
  text-shadow: 0 1px 1px #6f6f6f;
  padding: 0 27px;
  span {
    height: 55px;
    line-height: 110px;
    color: #fff;
    padding: 0;
    margin: 0 27px;
    vertical-align: middle;
    display: inline-block;
    background-color: #fff;
    width: 2px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
  a:active {
      color: #ff0;
  }
}


#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  font-family: '2p';
  font-size: 18px;
  cursor: pointer;
  transition: all 500ms ease;
  float: right;
  display: table;
  line-height: 20px;
  color: #00b9f2;
  margin: 18px 0;
}
#toggle + label:after {
  content: "\e801";
  font-weight: 500;
}

#toggle:checked ~ .app-head__menu {
  top: 0;
}

#toggle:checked ~ .app-head__container {
  margin-top: 105px;
}

#toggle:checked + label:after {
  content: "\e802";
}

.app-head__container {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
