.app-section {
  ._clearfix;
}
.app-section__header {
    text-align: center;
    margin-bottom: 20px;
}
.app-section__content {
  margin: 15px;
}

.app-section__filter {
  display: inline-block;
  width: 100%;
}