.app-body {
  min-height: 100%;
  ._clearfix;
  font-size: 1.3em;
}
.app-body__bg {
  font-size: 16px;
  background-position: center 0;
  background-image: url('/bundles/app/img/bg_shade.png');
  background-repeat: no-repeat;
}

.app-body__slug {
  font-family: 'unit-thin';
  font-size: 2.5em;
  display: table;
  margin: 0 auto;
  max-width: 940px;
  min-width: 320px;
  letter-spacing: -0.01em;
  text-align: center;
  line-height: 1.11em;
  padding: 7px 0;
  .first {
    margin: 0 255px 0 0;
  }
  .second {
    margin: 0 0 0 82px;
  }
  .third {
    margin: 0 10px 0 0;
  }
}

.app-body__card {
  font-family: unit-thin;
  font-size: 1.2em;
  color: #000;
  padding: 36px 37px 5px 37px;
  background: #fff;
  height: 315px;
  margin: 131px auto 0 auto;
  max-width: 780px;
  label {
    font-size: 20px;
    line-height: 33px;
    display: block;
    text-align: left;
  }
  p {
    font-family: unit-light;
    display: block;
    margin: 40px 0 50px 0;
    font-size: 0.8em;
  }

  a {
    color: #00B9F2;
    font-weight: bold;
  }
}

.app-body__cardshade {
  background-image: url(/bundles/app/img/card_shade.png);
  max-width: 857px;
  height: 21px;
  margin: 0 auto;
}

.app-form__line {
  background: #333;
  height: 2px;
  width: 100%;
  display: block;
  margin: 0 0 56px 0;
}


.app-body__clip {
  background-image: url(/bundles/app/img/clip.png);
  width: 137px;
  height: 112px;
  display: inline-block;
  margin: 0 0 -154px 4px;
}

.app-body__email {
  font-size: 20px;
  border: solid 1px #474747;
  padding: 0 15px;
  width: 317px;
  height: 46px;
}

input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; }



.app-body #contact_submit {
  font-family: unit-medium;
  line-height: 13px;
  width: 146px;
  height: 46px;
  padding: 0 12px;
  font-size: 16px;
  margin: 0 0 0 8px;
  border: solid 1px #777677;
  text-shadow: 0 1px 1px #777;
  letter-spacing: 0.02em;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .app-body__slug {
    font-size: 2em;
    .first {
      margin: 0 150px 0 0;
    }
    .second {
      margin: 0 26px 0 0;
    }
    .third {
    }
  }

  .app-body__clip {
    width: 91px;
    height: 74px;
    margin: 0 0 -150px 4px;
    background-size: cover;
  }
  .app-form__line {
    margin: 0 0 25px 0;
  }

  .app-body__card {
    max-width: 480px;
    padding: 8px 10px;
    p {
      margin: 10px 0 10px 0;
    }
  }

  .app-body__bg {
    background-image: none;
  }
  .app-body__cardshade {
    background-image: none;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .app-body__slug {
    font-size: 1.7em;
    .first {
    }
    .second {

    }
    .third {

    }
  }

  .app-body__clip {
    width: 91px;
    height: 74px;
    margin: 0 0 -150px 4px;
    background-size: cover;
  }


  .app-form__line {
    margin: 0 0 15px 0;
  }

  .app-body__card {
    height: auto;
    max-width: 380px;
    padding: 8px 10px;
    p {
      margin: 10px 0 10px 0;
    }
  }

  .app-body #contact_submit {
    width:auto;
  }

  .app-body__email {
    width:auto;
  }

  .app-body__bg {
    background-image: none;
  }

  .app-body__cardshade {
    background-image: none
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .app-body__slug {
    font-size: 1.7em;
    .first {
      margin: 0 130px 0 0;
    }
    .second {
    }
    .third {
    }
  }

  .app-body__clip {
    width: 68px;
    height: 56px;
    margin: 0 0 -147px 4px;
    background-size: cover;
  }


  .app-form__line {
    margin: 0 0 15px 0;
  }

  .app-body__card {
    padding: 8px 10px;
    p {
      margin: 10px 0 10px 0;
    }
  }

  .app-body #contact_submit {
    width:auto;
  }

  .app-body__email {
    width:auto;
  }
  .app-body__bg {
    background-image: none;
  }

  .app-body__cardshade {
    background-image: none
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  .app-body__slug {
    font-size: 1.5em;
    .first {
      margin: 0 130px 0 0;
    }
    .second {
    }
    .third {
    }
  }

  .app-body__clip {
    width: 68px;
    height: 56px;
    margin: 0 0 -150px 4px;
    background-size: cover;
  }

  .app-form__line {
    margin: 0 0 15px 0;
  }

  .app-body__card {
    height: auto;
    padding: 8px 10px;
    p {
      margin: 10px 0 10px 0;
    }
  }

  .app-body #contact_submit {
    width:auto;
  }

  .app-body__email {
    width:auto;
  }

  .app-body__bg {
    background-image: none;
  }
  .app-body__cardshade {
    background-image: none
  }

}
